<input type="search" class="w-50 form-control m-auto" />
<div class="w-100">
  <div class="row g-2">
    <div class="col-md-2 mt-3 ju product">
      <div [routerLink]="['/product']" class="">
        <img class="w-100" />
        <p class="ps-2 text-main"></p>
        <p></p>
        <div
          class="d-flex justify-content-between align-items-center mx-2 mb-5"
        >
          <p>EGP</p>
          <p>
            <i class="fa-solid fa-star rating-color"></i>
          </p>
        </div>
      </div>
      <button class="btn iu btn-main w-100">+ Add to Cart</button>
    </div>
  </div>
</div>
