<div id="footer" class="bg-main-light">
  <div class="container-fluid pt-5 ps-5 pe-5 pb-3">
    <h5>Get The FreshCart App</h5>
    <p>We will send you a link, open it on your phone to download the app</p>
    <div
      class="d-flex justify-content-between align-content-center border-bottom mb-3 pb-3"
    >
      <input
        type="email"
        class="form-control w-100 h-100"
        placeholder="Email"
      />
      <button class="btn bg-main d-block ms-3 text-white" style="height: 35px">
        Share app link
      </button>
    </div>
    <div
      class="d-flex justify-content-between align-content-center border-bottom pb-3 mb-2"
    >
      <div
        class="d-flex justify-content-center align-content-center pt-3"
        style="height: 50px"
      >
        <p>payment partners</p>
        <ul class="d-flex text-decoration-none list-unstyled">
          <li class="mx-3">
            <img
              src="./assets/images/2560px-Amazon_Pay_logo.svg-removebg-preview.png"
              style="width: 80px"
            />
          </li>
          <li class="mx-3">
            <img
              src="../../assets/images/American_Express_logo.svg.png"
              style="width: 30px"
            />
          </li>
          <li class="mx-3">
            <img
              src="../../assets/images/MasterCard_Logo.svg.png"
              style="width: 50px"
            />
          </li>
          <li>
            <img src="../../assets/images/paybal.png" style="width: 80px" />
          </li>
        </ul>
      </div>
      <div
        class="d-flex justify-content-center align-content-center pt-3"
        style="height: 50px"
      >
        <p>Get delivers With Freshcart</p>
        <ul class="d-flex text-decoration-none list-unstyled">
          <li class="mx-1">
            <img src="../../assets/images/task.png" style="width: 80px" />
          </li>

          <li>
            <img
              src="../../assets/images/en_badge_web_generic.png"
              style="width: 80px"
            />
          </li>
        </ul>
      </div>
    </div>
    <p class="text-center pt-3">2024 Mohamed Naeem , All Rights Reserved</p>
  </div>
</div>
