<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2 text-center">
  <h1>Your Perfect Wish Cart</h1>
  <div class="row border-bottom pb-2" *ngFor="let item of wishListItems">
    <div class="col-md-1">
      <img class="w-100" [src]="item.imageCover" [alt]="" />
    </div>
    <div
      class="col-md-11 d-flex justify-content-between align-items-center text-start"
    >
      <!-- details -->
      <div class="">
        <h3 class="h5">{{ item.title }}</h3>
        <p class="text-main m-0">Price : {{ item.price }}</p>
        <button class="btn p-0 m-0" (click)="removeItem(item._id)">
          <i class="fa-regular fa-trash-can fw-bolder text-danger"> Remove</i>
        </button>
      </div>
      <button class="btn-main w-25 ms-auto" (click)="addCart(item._id)">
        Add To Cart
      </button>

      <div></div>
    </div>
  </div>
</section>
