<section class="w-75 mx-auto bg-main-light my-5 rounded p-5">
  <h1 class="h3">Login</h1>
  <div class="container pt-5">
    <form [formGroup]="SIGNINFORM" (ngSubmit)="submitSignIn(SIGNINFORM.value)">
      <div>
        <label>Email</label>
        <input formControlName="email" class="form-control" type="text" />
        <div
          *ngIf="
            SIGNINFORM.get('email')?.errors && SIGNINFORM.get('email')?.touched
          "
        ></div>
      </div>
      <div>
        <label>Password</label>
        <input
          formControlName="password"
          class="form-control"
          type="password"
        />
      </div>
      <button class="btn-main mt-2 ms-auto d-block">log in</button>
      <a routerLink="/Forgotpassword" class="text-main">Forgot Password ?!</a>
    </form>
  </div>
</section>
