<!-- forgot password -->
<section class="my-4" *ngIf="!success">
  <form
    [formGroup]="forgotPasswordBox"
    (ngSubmit)="sendResetCode(forgotPasswordBox)"
  >
    <div class="row my-5">
      <div class="col-md-8 m-auto">
        <div class="layer bg-light p-5 shadow">
          <label for="email" class="fw-bolder">Email</label>
          <input formControlName="email" type="email" class="form-control" />
          <p class="text-main my-2">{{ SuccessMsg }}</p>
          <button class="btn btn-main my-2">Send Code</button>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- verify code -->
<section class="my-4" *ngIf="success">
  <form [formGroup]="verifyCodeBox" (ngSubmit)="verifyResetCode(verifyCodeBox)">
    <div class="row my-5">
      <div class="col-md-8 m-auto">
        <div class="layer bg-light p-5 shadow">
          <label class="fw-bolder">Code</label>
          <input formControlName="resetCode" type="text" class="form-control" />
          <!-- <p class="text-main my-2">{{}}</p> -->
          <button class="btn btn-main my-2">Send</button>
        </div>
      </div>
    </div>
  </form>
</section>
<section class="my-4" *ngIf="showResetForm">
  <form [formGroup]="verifyCodeBox" (ngSubmit)="newpassword()">
    <div class="row my-5">
      <div class="col-md-8 m-auto">
        <div class="layer bg-light p-5 shadow">
          <label class="fw-bolder">Reset Password</label>
          <input formControlName="resetCode" type="text" class="form-control" />
          <!-- <p class="text-main my-2">{{}}</p> -->
          <button class="btn btn-main my-2">Update</button>
        </div>
      </div>
    </div>
  </form>
</section>
